<form [formGroup]="datatableFiltersForm" novalidate (submit)="filterHandler()">
  <div class="card">
    <div class="card-body" [collapse]="!isCollapsed">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="txt-name">Username</label>
            <input type="text" name="username" id="txt-username" class="form-control" formControlName="username">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ddl-role">Role</label>
            <select name="role" id="ddl-role" class="form-control" formControlName="role">
              <option></option>
              <option *ngFor="let role of data.roles" value="{{role._id}}">{{role.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ddl-status">Status</label>
            <select name="status" id="ddl-status" class="form-control" formControlName="active">
              <option></option>
              <option value="true">Active</option>
              <option value="false">Inactive</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex">
      <div class="flex-grow-1">
        <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseDatatableFilters"
          aria-expanded="false" aria-controls="collapseDatatableFilters" (click)="isCollapsed = !isCollapsed">
          <i class="fa fa-filter"></i>
          <span class="mx-2">{{isCollapsed ? 'Hide' : 'Show'}} Filters</span>
        </button>
      </div>
      <div class="mx-1" *ngIf="isCollapsed && filtersApplied">
        <button class="btn btn-sm btn-outline-danger" type="reset" (click)="resetHandler()">
          <i class="fa fa-remove"></i>
          <span class="mx-2">Clear Filters</span>
        </button>
      </div>
      <div class="mx-1" *ngIf="isCollapsed">
        <button class="btn btn-sm btn-outline-primary" type="submit">
          <i class="fa fa-search"></i>
          <span class="mx-2">Search</span>
        </button>
      </div>
    </div>
  </div>
</form>
