<div class="alert alert-danger" role="alert" *ngIf="!loanApplicationTypesList.length">
  <h4 class="alert-heading">
    <i class="fa fa-frown-o"></i> Loan Application Types not found
  </h4>
  <p>
    You need to have at least one Loan Application Type configured in the
    system.
  </p>
  <p class="mb-0">
    Please
    <a class="alert-link" [routerLink]="'/configurations/loan-application/loan-application-types'">click here</a>
    and Add a new Loan Application Type
  </p>
</div>
<div class="card shadow" *ngIf="loanApplicationTypesList.length">
  <form [formGroup]="sectionForm" class="p-2" novalidate (submit)="submitFormHandler()">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="txt-sequence-no">
            <small class="mr-2">
              <i class="fa fa-asterisk text-danger"></i>
            </small>
            <span>Sequence Number</span>
          </label>
          <input type="number" class="form-control" id="txt-sequence-no" class="form-control" name="sequenceNo"
            formControlName="sequenceNo" />
          <div class="form-text" *ngIf="sequenceNo.dirty && sequenceNo.errors">
            <small class="text-danger block" *ngIf="sequenceNo.errors['required']">
              <b>Sequence Number</b> cannot be blank
            </small>
            <small class="text-danger block" *ngIf="sequenceNo.errors['isTaken']">
              <b>{{ sequenceNo.value }}</b> is already taken
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="txt-name">
            <small class="mr-2">
              <i class="fa fa-asterisk text-danger"></i>
            </small>
            <span>Name</span>
          </label>
          <input type="text" id="txt-name" class="form-control" name="name" formControlName="name" />
          <div class="form-text" *ngIf="name.dirty && name.errors">
            <small class="text-danger block" *ngIf="name.errors['required']">
              <b>Name</b> cannot be blank
            </small>
            <small class="text-danger block" *ngIf="name.errors['isTaken']">
              <b>{{ name.value }}</b> is already taken
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label>
            <small class="mr-2">
              <i class="fa fa-asterisk text-danger"></i>
            </small>
            <span>Loan Application Types</span>
          </label>
          <ul class="list-group">
            <li class="list-group-item" formArrayName="loanApplicationTypes" *ngFor="
                  let loanApplicationType of loanApplicationTypes.controls;
                  let i = index
                ">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [formControlName]="i" />
                  {{ loanApplicationTypesList[i].name }}
                </label>
              </div>
            </li>
          </ul>
          <div class="form-text" *ngIf="loanApplicationTypes.dirty && loanApplicationTypes.errors">
            <small class="text-danger block" *ngIf="loanApplicationTypes.errors['atLeastOneChecked']">
              Please select at least one <b>Loan Application Type</b>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form-check">
          <input type="checkbox" id="chk-active" class="form-check-input" name="active" formControlName="active" />
          <label for="chk-active" class="form-check-label">
            <span>Active</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <button class="btn btn-primary btn-sm btn-block shadow" type="submit" [disabled]="sectionForm.invalid">
              <i class="fa fa-check"></i> <span class="mx-2">Submit</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
